@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@theme {
    /* --color-*: initial;  Uncomment to disable default tailwind color palette. */ 
    --default-font-family: "Inter", "sans-serif";

    --color-aapningerCategory: #F78482;
    --color-gallerierCategory: #E1F2C2;
    --color-fagpolitikkCategory: #F9D1BC;
    --color-askjonerCategory: #DEDCEE;
  }