@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@theme {
    /* --color-*: initial;  Uncomment to disable default tailwind color palette. */ 
    --default-font-family: "Inter", "sans-serif";
    
    --color-galleriercategory: #e1f2c2;
    --color-aapningercategory: #f78482;
    --color-fagpolitikkcategory: #f9d1bc;
    --color-aksjonercategory: #dedcee;

    --color-specialCard: #C7C2EB;
    --color-highlightedCard: #EFEFED;

  }