@import "tailwindcss";

@theme {
    /* --color-*: initial;  Uncomment to disable default tailwind color palette. */ 
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
  }